@use '../../scss/' as *;

.scroll-to-top {
    position: fixed;
    right: -120px;
    bottom: 20px;
    background-color: #7bbb3f;
    color: white;
    width: 40px;
    height: 40px;
    z-index: 400;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    transition: 0.9s opacity ease-in-out, 0.5s right ease-in-out; 
    @include flex(center, center);
    i {
        animation: move-up 1.5s ease-in-out infinite;
    }
    &.active {
        opacity: 1;
        right: 20px;
    }
    @include mobile {
        bottom: 60px;
    }
}

@keyframes move-up {
    0% { transform: translateY(4px);}
    100% {transform: translateY(-4px);}
}
.logo {
    font-size: 2.5rem;
    font-weight: 600;
    @include flex(center, unset);
    img {
        width: 50px;
        margin-right: 10px;
        @include mobile {
            width: 30px;
        }
    }
    
}
.header {
    height: $header-height;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 199;
    transition: height 0.3s ease, background-color 0.3s ease;
    padding: 0.5rem 0;
    &.shrink {
        height: $header-shrink-height;
        background-color: $body-bg;
    }
    &__wrap {
        @include flex(center, space-between);
        padding: 0 2rem;
    }
    &__nav {
        @include flex(center, unset);
        & > * {
            margin-left: 2rem;
        }
        li {
            font-weight: 700;
            padding: 5px 0;
            font-size: 1.5rem;
            position: relative;
            &::after {
                content: "";
                background-color: $main-color;
                width: 0%;
                height: 2px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                transition: width 0.3s ease;
            }
            &.active::after, &:hover::after {
                width: 100%;
            }
        }
        @include mobile {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: $body-bg;
            padding: 0 2rem;
            height: 5rem;
            box-shadow: $box-shadow;
            @include flex(center, space-between);
            & > * {
                margin-left: 0;
            }
        }
    }
}